Repository Guanyuhao/offline-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: ts check
  src/components/wallet/ReceivePage.vue
Due: eslint --fix, prettier --write

feat: 删除src前端重新构建
  src-tauri/src/chains/address_validation.rs
  src-tauri/src/chains/bitcoin.rs
  src-tauri/src/chains/bnb.rs
  src-tauri/src/chains/ethereum.rs
  src-tauri/src/chains/mod.rs
  src-tauri/src/chains/solana.rs
  src-tauri/src/chains/tron.rs
  src-tauri/src/crypto/mnemonic.rs
  src-tauri/src/crypto/mod.rs
  src-tauri/src/crypto/password_strength.rs
  src-tauri/src/crypto/secure_storage.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/qrcode_gen.rs
  src-tauri/src/security/auto_lock.rs
  src-tauri/src/security/mod.rs
  src-tauri/src/webview_perf.rs
Due: none

恢复误删的 src-tauri/src 目录
  src-tauri/src/chains/address_validation.rs
  src-tauri/src/chains/bitcoin.rs
  src-tauri/src/chains/bnb.rs
  src-tauri/src/chains/ethereum.rs
  src-tauri/src/chains/mod.rs
  src-tauri/src/chains/solana.rs
  src-tauri/src/chains/tron.rs
  src-tauri/src/crypto/mnemonic.rs
  src-tauri/src/crypto/mod.rs
  src-tauri/src/crypto/password_strength.rs
  src-tauri/src/crypto/secure_storage.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/qrcode_gen.rs
  src-tauri/src/security/auto_lock.rs
  src-tauri/src/security/mod.rs
  src-tauri/src/webview_perf.rs
Due: none

重构扫描二维码插件跟原生交互
  packages/cold-wallet/index.html
Due: none

重构扫描二维码插件跟原生交互
  package.json
  packages/hot-wallet/index.html
  packages/shared/README.md
  packages/shared/package.json
  packages/shared/src/components/QRCodeScanner.tsx
  packages/shared/src/components/ScanningFrame.css
  packages/shared/src/components/ScanningFrame.tsx
  packages/shared/src/components/index.ts
  packages/shared/src/types/barcode-detector.d.ts
  packages/shared/src/utils/barcode-scanner.ts
  packages/shared/src/utils/camera-scanner.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/scanQR.ts
  packages/shared/src/utils/scanner/README.md
  packages/shared/src/utils/scanner/factory.ts
  packages/shared/src/utils/scanner/index.ts
  packages/shared/src/utils/scanner/native-scanner.ts
  packages/shared/src/utils/scanner/platform.ts
  packages/shared/src/utils/scanner/types.ts
  packages/shared/src/utils/scanner/web-scanner.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 'React' is declared but its value is never read
  packages/shared/src/components/ScanningFrame.tsx
Due: eslint --fix, prettier --write

feat: 移动端二维码调试成功
  packages/cold-wallet/src-tauri/Cargo.toml
  packages/cold-wallet/src-tauri/capabilities/mobile.json
  packages/cold-wallet/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  packages/cold-wallet/src-tauri/gen/apple/cold-wallet.xcodeproj/project.pbxproj
  packages/cold-wallet/src-tauri/gen/schemas/acl-manifests.json
  packages/cold-wallet/src-tauri/gen/schemas/capabilities.json
  packages/cold-wallet/src-tauri/gen/schemas/desktop-schema.json
  packages/cold-wallet/src-tauri/gen/schemas/iOS-schema.json
  packages/cold-wallet/src-tauri/gen/schemas/macOS-schema.json
  packages/cold-wallet/src-tauri/gen/schemas/mobile-schema.json
  packages/cold-wallet/src-tauri/src/main.rs
  packages/cold-wallet/src-tauri/src/qr_scanner.rs
  packages/cold-wallet/src-tauri/src/qrcode.rs
  packages/cold-wallet/src/App.tsx
  packages/cold-wallet/src/components/PageLayout.tsx
  packages/cold-wallet/src/components/TransactionForm.tsx
  packages/cold-wallet/src/pages/HomePage.tsx
  packages/cold-wallet/src/pages/ScanQRPage.tsx
  packages/cold-wallet/src/pages/SettingsPage.tsx
  packages/cold-wallet/src/pages/SignSuccessPage.tsx
  packages/cold-wallet/src/pages/SignTransactionPage.tsx
  packages/cold-wallet/src/pages/UnlockPage.tsx
  packages/cold-wallet/src/stores/useScanStore.ts
  packages/cold-wallet/src/styles/index.css
  packages/cold-wallet/vite.config.ts
Due: eslint --fix, prettier --write

feat: 自动签名
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/mobile-build.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  docs/CODE_SIGNING.md
  docs/SIGNING_SUMMARY.md
  scripts/add-password-to-key.sh
  scripts/generate-signing-keys.sh
  scripts/setup-signing.sh
  signing/.gitkeep
  signing/README.md
Due: prettier --write

feat: CI pnpm version
  .github/workflows/mobile-build.yml
  .github/workflows/release.yml
  packages/cold-wallet/src-tauri/Cargo.toml
  packages/cold-wallet/src-tauri/capabilities/mobile.json
  packages/cold-wallet/src-tauri/gen/schemas/acl-manifests.json
  packages/cold-wallet/src-tauri/gen/schemas/capabilities.json
  packages/cold-wallet/src-tauri/src/crypto/secure_storage.rs
  packages/cold-wallet/src-tauri/src/main.rs
  packages/cold-wallet/src/pages/SettingsPage.tsx
Due: eslint --fix, prettier --write

feat: CI pnpm version
  .github/workflows/release.yml
Due: none

feat: android add
  packages/cold-wallet/src-tauri/gen/android/.editorconfig
  packages/cold-wallet/src-tauri/gen/android/.gitignore
  packages/cold-wallet/src-tauri/gen/android/app/.gitignore
  packages/cold-wallet/src-tauri/gen/android/app/build.gradle.kts
  packages/cold-wallet/src-tauri/gen/android/app/proguard-rules.pro
  packages/cold-wallet/src-tauri/gen/android/app/src/main/AndroidManifest.xml
  packages/cold-wallet/src-tauri/gen/android/app/src/main/java/com/offlinewallet/cold/MainActivity.kt
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/drawable/ic_launcher_background.xml
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/layout/activity_main.xml
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/values-night/themes.xml
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/values/colors.xml
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/values/strings.xml
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/values/themes.xml
  packages/cold-wallet/src-tauri/gen/android/app/src/main/res/xml/file_paths.xml
  packages/cold-wallet/src-tauri/gen/android/build.gradle.kts
  packages/cold-wallet/src-tauri/gen/android/buildSrc/build.gradle.kts
  packages/cold-wallet/src-tauri/gen/android/buildSrc/src/main/java/com/offlinewallet/cold/kotlin/BuildTask.kt
  packages/cold-wallet/src-tauri/gen/android/buildSrc/src/main/java/com/offlinewallet/cold/kotlin/RustPlugin.kt
  packages/cold-wallet/src-tauri/gen/android/gradle.properties
  packages/cold-wallet/src-tauri/gen/android/gradle/wrapper/gradle-wrapper.jar
  packages/cold-wallet/src-tauri/gen/android/gradle/wrapper/gradle-wrapper.properties
  packages/cold-wallet/src-tauri/gen/android/gradlew
  packages/cold-wallet/src-tauri/gen/android/gradlew.bat
  packages/cold-wallet/src-tauri/gen/android/settings.gradle
Due: none

feat: icon sh update
  scripts/README.md
  scripts/generate-wallet-icons.js
Due: eslint --fix, prettier --write

feat: 国际化 跨平台通用加密 主题切换
  Cargo.lock
  Cargo.toml
  packages/cold-wallet/package.json
  packages/cold-wallet/src-tauri/Cargo.toml
  packages/cold-wallet/src-tauri/capabilities/default.json
  packages/cold-wallet/src-tauri/capabilities/mobile.json
  packages/cold-wallet/src-tauri/gen/schemas/acl-manifests.json
  packages/cold-wallet/src-tauri/gen/schemas/capabilities.json
  packages/cold-wallet/src-tauri/gen/schemas/desktop-schema.json
  packages/cold-wallet/src-tauri/gen/schemas/macOS-schema.json
  packages/cold-wallet/src-tauri/src/crypto/mod.rs
  packages/cold-wallet/src-tauri/src/crypto/secure_storage.rs
  packages/cold-wallet/src-tauri/src/main.rs
  packages/cold-wallet/src/App.tsx
  packages/cold-wallet/src/components/AddressDisplay.tsx
  packages/cold-wallet/src/components/TransactionForm.tsx
  packages/cold-wallet/src/hooks/useI18n.ts
  packages/cold-wallet/src/i18n/index.ts
  packages/cold-wallet/src/i18n/locales/en-US.ts
  packages/cold-wallet/src/i18n/locales/zh-CN.ts
  packages/cold-wallet/src/main.tsx
  packages/cold-wallet/src/pages/CreateWalletPage.tsx
  packages/cold-wallet/src/pages/HomePage.tsx
  packages/cold-wallet/src/pages/ImportWalletPage.tsx
  packages/cold-wallet/src/pages/ReceivePage.tsx
  packages/cold-wallet/src/pages/ScanQRPage.tsx
  packages/cold-wallet/src/pages/SettingsPage.tsx
  packages/cold-wallet/src/pages/SignSuccessPage.tsx
  packages/cold-wallet/src/pages/SignTransactionPage.tsx
  packages/cold-wallet/src/pages/UnlockPage.tsx
  packages/cold-wallet/src/pages/WalletPage.tsx
  packages/cold-wallet/src/stores/useI18nStore.ts
  packages/cold-wallet/src/stores/useThemeStore.ts
  packages/cold-wallet/src/styles/index.css
  packages/cold-wallet/src/utils/index.ts
  packages/cold-wallet/src/utils/stronghold.ts
  packages/shared/src-tauri/Cargo.toml
  packages/shared/src-tauri/src/plugins.rs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(ci): 重构工作流架构 - 模块化设计
  .github/actions/setup-build-env/action.yml
  .github/workflows/README.md
  .github/workflows/build-macos.yml
  .github/workflows/build-mobile.yml
  .github/workflows/build-windows.yml
  .github/workflows/mobile-build.yml
  .github/workflows/release.yml
Due: prettier --write

chore: 优化工作流架构和签名配置
  .gitignore
  docs/CODE_SIGNING.md
  packages/cold-wallet/src-tauri/gen/android/app/src/main/assets/icons/128x128.png
  packages/cold-wallet/src-tauri/gen/android/app/src/main/assets/icons/icon.png
  packages/cold-wallet/src-tauri/gen/android/build.gradle.kts
  packages/cold-wallet/src-tauri/gen/android/buildSrc/build.gradle.kts
  packages/cold-wallet/src-tauri/gen/android/settings.gradle
  packages/cold-wallet/src-tauri/gen/schemas/android-schema.json
  scripts/add-password-to-key.sh
  scripts/generate-signing-keys.sh
  scripts/setup-signing.sh
  signing/README.md
Due: prettier --write

fix(ci): 简化工作流架构，修复构建失败
  .github/actions/setup-build-env/action.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-mobile.yml
  .github/workflows/build-windows.yml
  .github/workflows/release.yml
Due: none

feat(ci): 添加移动端构建工作流
  .github/workflows/mobile-release.yml
Due: none

fix: 修复 Windows 图标格式和 Release 上传问题
  .github/workflows/release.yml
  packages/cold-wallet/src-tauri/gen/android/gradle/wrapper/gradle-wrapper.properties
  packages/cold-wallet/src-tauri/icons/icon.ico
  packages/cold-wallet/src-tauri/src/lib.rs
  packages/hot-wallet/src-tauri/src/lib.rs
Due: none

fix(ci): 修复移动端构建工作流
  .github/workflows/mobile-release.yml
Due: none

chore: 升级版本到 1.0.0
  Cargo.lock
  package.json
  packages/cold-wallet/package.json
  packages/cold-wallet/src-tauri/Cargo.toml
  packages/cold-wallet/src-tauri/gen/android/build.gradle.kts
  packages/cold-wallet/src-tauri/tauri.conf.json
  packages/hot-wallet/package.json
  packages/hot-wallet/src-tauri/Cargo.toml
  packages/hot-wallet/src-tauri/tauri.conf.json
  packages/shared/package.json
  packages/shared/src-tauri/Cargo.toml
Due: prettier --write

fix(ci): 修正 artifacts 上传路径
  .github/workflows/release.yml
Due: none

fix(ci): 修复 GitHub Release 创建问题
  .github/workflows/release.yml
Due: none

fix(ci): 修复移动端 Release 创建和 iOS 构建
  .github/workflows/mobile-release.yml
Due: none

fix: 处理 @offline-wallet/shared 的子路径导出
  packages/shared/vite.config.base.ts
Due: eslint --fix, prettier --write

fix(ci): 修复构建错误
  .github/workflows/release-cold-mobile.yml
  .github/workflows/release-hot-mobile.yml
  README.md
  packages/cold-wallet/src-tauri/icons/icon.ico
  public/icons/bnb.png
  public/icons/btc.png
  public/icons/eth.png
  public/icons/manifest.json
  public/icons/sol.png
  public/icons/tron.png
  public/qrcodelogo.png
  public/wallet-icon.svg
  public/wallet-logo.svg
Due: prettier --write

fix(ci): 修复 Android OpenSSL 依赖和文件上传警告
  .github/workflows/release-cold-desktop.yml
  .github/workflows/release-cold-mobile.yml
  .github/workflows/release-hot-desktop.yml
  .github/workflows/release-hot-mobile.yml
  appstore/IMG_5478.PNG
  appstore/IMG_5479.PNG
  appstore/IMG_5480.PNG
  packages/cold-wallet/src-tauri/gen/apple/cold-wallet_iOS/Info.plist
  packages/cold-wallet/src-tauri/gen/apple/cold-wallet_iOS/PrivacyInfo.xcprivacy
  packages/cold-wallet/src-tauri/gen/apple/project.yml
  packages/cold-wallet/src-tauri/tauri.conf.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.{json,md,css,scss})
